<form (ngSubmit)="onSubmit()" #testForm="ngForm">
  <div class="modal fade show" tabindex="-1" style="
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;">

    <div class="modal-dialog modal-lg" style="
    width: 95%;
    max-width: 1800px;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;">
      <div class="modal-content">

        <div class="modal-header d-flex py-3 pe-4">
          <h6 class="modal-title modelTestNameTitle fw-bold">{{ reports?.Report?.tests?.[0]?.name }}</h6>

          <button type="button" (click)="closeModal()" class="btn btn-icon btn-sm btn-active-light-primary ms-auto idcloseButton"
            aria-label="Close">
            <!-- SVG inserted here -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-square"
              viewBox="0 0 16 16">
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zm-1 1H3a.5.5 0 0 0-.5.5v11a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-11a.5.5 0 0 0-.5-.5z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>

        </div>
        <div class="modal-body">
          <div class="row mb-4">
            <div class="col-md-6 fv-row">
              <label class="required">Test Name</label>

              <input class="form-control" *ngIf="reports" [(ngModel)]="reports.Report.tests[0].name"
                placeholder="Enter test name" [ngModelOptions]="{standalone: true}" required />

            </div>

            <div class="col-md-4 fv-row">
              <label class="required">Test Type</label>
              <ng-container *ngIf="reports?.Report as report">
                <select class="form-select" [(ngModel)]="report.reportTypeId" name="reportTypeId">
                  <option *ngFor="let type of reports?.BloodReportTypes" [value]="type.ReportTypeId">
                    {{ type.Name }}
                  </option>
                </select>
              </ng-container>
            </div>

            <div class="col-md-2 fv-row">
              <label class="required">Page No.</label>
              <ng-container *ngIf="reports?.Report?.tests?.[0] as test">
                <input type="number" class="form-control" [(ngModel)]="test.pageNo" name="pageNo"
                  [ngModelOptions]="{standalone: true}" />
              </ng-container>
            </div>
          </div>

          <div class="row">
            <div class="col-md-7">
              <ng-container *ngIf="reports?.Report?.tests?.[0] as test">
                <h5 class="mb-4 fw-bold">{{ test.name }}</h5>
              </ng-container>
              <table class="table table-bordered" id="TestFieldTable">
                <thead>
                  <tr>
                    <th>Tests</th>
                    <th>Result</th>
                    <th>Unit</th>
                    <th>Range(Min)</th>
                    <th>Operator</th>
                    <th>Range(Max)</th>
                    <th>Severity</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="reports?.Report?.tests?.[0]?.testFields as testFields">
                    <tr *ngFor="let field of testFields; let i = index">
                      <td style="width:25%">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="field.name"
                          [ngModelOptions]="{standalone: true}" name="fieldName{{ i }}" required />
                      </td>
                      <td style="width:11%">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="field.value"
                          [ngModelOptions]="{standalone: true}" name="value{{ i }}" required />
                      </td>
                      <td style="width:11%">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="field.unit"
                          [ngModelOptions]="{standalone: true}" name="unit{{ i }}" />
                      </td>
                      <td style="width:11%">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="field.range.min"
                          [ngModelOptions]="{standalone: true}" name="minRange{{ i }}" />
                      </td>
                      <td style="width:11%">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="field.range.operator"
                          [ngModelOptions]="{standalone: true}" name="operator{{ i }}" />
                      </td>
                      <td style="width:11%">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="field.range.max"
                          [ngModelOptions]="{standalone: true}" name="maxRange{{ i }}" />
                      </td>
                      <td style="width:11%">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="field.severity"
                          [ngModelOptions]="{standalone: true}" name="severity{{ i }}" />
                      </td>
                      <td style="width:20%">
                        <button (click)="" class="btn btn-success btn-sm p-1">
                          <i class="bi bi-plus"></i>
                        </button>
                        <button class="btn btn-danger btn-sm p-1">
                          <i class="bi bi-x"></i>
                        </button>
                        
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <div class="col-md-5">
              <div class="bg-secondary rounded h-100">
                <embed *ngIf="sanitizedPdfPath" [src]="sanitizedPdfPath" type="application/pdf" width="100%"
                  height="100%" />

              </div>
            </div>
          </div>

          <div class="form-group mt-4">
            <label class="required">Notes</label>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Test Note</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let note of test.testNotes; let i = index">
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="note.value" name="note{{ i }}" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer py-4 px-5">
          <button type="button" class="btn btn-sm btn-light" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-sm btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>