<div class="row">
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
            </thead>
            <tbody>
            @for(item of userList;track $index){
            <tr>
                <td>{{item.orgId}}</td>
                <td>{{item.name}}</td>
                <td>{{item.address}}</td>
            </tr>
            }
        </tbody>
        </table>
    </div>
</div>